# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
*.lcov

# Build
dist
dist-ssr
*.local
tsconfig.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment
.env
.env.*
!.env.example